@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Cabin:wght@400;700&display=swap');

body {
    font-family: var(--paragraph-font, sans-serif);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #1A578C;
    --secondary-color: #5F9E6E;
    --accent1-color: #D9BF77;
    --accent2-color: #FFFFFF;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Cabin', sans-serif;

    --nav-background-color: #084C61;
    --nav-link-color: #FF5733;
    --nav-hover-link-color: #1A578C;
    --nav-hover-background-color: #D9BF77;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font, sans-serif);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}