nav {
    background-color: bisque;
    padding: 10px;
}
nav a {
    background-color: bisque;
    display: block;
    padding: 20px;
}
h1 {
    color: rgb(0, 0, 0)
}

h2 {
    color: rgb(210, 212, 241);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid bisque;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
main {
    max-width: 840px;
}
aside {
    position: relative;
    width: 20em;
    text-align: center;
}    
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
    float: right;
}
p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside h2 {
    position: absolute;
    top: 675px;
    left: 83px;
    width: 2rem;
}